<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Anmol Baranwal">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- css stylesheet -->
    <link rel="stylesheet" href="/css/output.css">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/238cdae898.js" crossorigin="anonymous"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <link rel="icon" type="image/png" href="">
    <title>Weather of <%= city %>  </title>
</head>
<body>
    <div class="details-box">
            <div class="header-content">
                <h1 class="header-text"><%= city %></h1>
                <img src="<%= image %>" alt="image of <%= description %>" class="header-image" method-tooltip="tooltip" data-bs-placement="right" title="<%= description %>">
            </div>
            <hr class="hrline">
            <div class="details-content">
                <p class="country-query"><%= countryName %></p> 
                <h3 class="inner-details"><i class="fa-solid fa-angles-right"></i>&nbsp;The<span class="highlight"> Temperature</span> is:<span class="the-value"> <%= temperature %> </span> °C</h3>
                <h3 class="inner-details"><i class="fa-solid fa-angles-right"></i>&nbsp;The<span class="highlight"> Weather </span>is currently: <span class="the-value"> <%= description %> </span></h3>
                <h3 id="content-in-detail" onmouseover="myFunc()"><a href="" class="view-in-detail">View in Detail &nbsp; <i class="fas fa-arrow-circle-right"></i></a></h3>
                <div id="to-display">
                    <h3 class="inner-details"><i class="fa-solid fa-angles-right"></i>&nbsp;The<span class="highlight"> Latitude</span> of <%= city %> is:<span class="the-value"> <%= latitute %> </span><%= vH %> hemisphere</h3>
                    <h3 class="inner-details"><i class="fa-solid fa-angles-right"></i>&nbsp;The<span class="highlight"> Longitude</span> of <%= city %> is:<span class="the-value"> <%= longitude %> </span><%= hH %> hemisphere</h3>
                    <h3 class="inner-details"><i class="fa-solid fa-angles-right"></i>&nbsp;The<span class="highlight"> Maximum Temperature</span> is:<span class="the-value"> <%= maxTemperature %> </span> °C</h3>
                    <h3 class="inner-details"><i class="fa-solid fa-angles-right"></i>&nbsp;The<span class="highlight"> Humidity</span> percentage is :<span class="the-value"> <%= humidity %>% </span> overall <%= comfortLevel %> </h3>
                    <h3 class="inner-details"><i class="fa-solid fa-angles-right"></i>&nbsp;The Percentage of<span class="highlight"> Clouds </span>in the atmosphere is:<span class="the-value"> <%= cloudiness %>% </span>(<%= cloudDesc %>)</h3>
                    <h3 class="inner-details"><i class="fa-solid fa-angles-right"></i>&nbsp;You<span class="highlight"> </span>can see upto:<span class="the-value"> <%= visibility %> km</span> in the sky</h3>
                </div>
            </div>
    </div>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[method-tooltip="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        function myFunc() {
            setTimeout(visible, 500); // delaying the function for 0.5 seconds to ease the process
        }
        // setTimeout(() => {
            function visible() {
            var x = document.getElementById("content-in-detail");
            var y = document.getElementById("to-display");
            
            if (x.style.display === "block") {
              y.style.display = "block";
              x.style.display = "none";
            } else {
              x.style.display = "block";
              y.style.display = "none";
            }
          }
        // }, 1000); 

    </script>
</body>
